.character{
  width:501px;
  height:88px;
  background-color:white;
  z-index: 10;
  position:absolute;
  top:88vh;
  left:1.2vw;
  background-image:url("../image/character.gif");
  background-color:transparent;
}

#Maintext #title1{
  -webkit-animation:left ease;
  animation:left ease;
  -webkit-animation-duration:1s;
          animation-duration:1s;
  -webkit-animation-delay:0.6s;
          animation-delay:0.6s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#Maintext #title2{
  -webkit-animation:right ease;
  animation:right ease;
  -webkit-animation-duration:1s;
          animation-duration:1s;
  -webkit-animation-delay:0.8s;
          animation-delay:0.8s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}




@-webkit-keyframes left {
  0% {
    margin-left: -2%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes left {
  0% {
    margin-left: -2%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes right{
  0% {
    margin-right: -2%;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes right{
  0% {
    margin-right: -2%;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

.instagram{
  width:30px;
  height:30px;
  position:absolute;
  top:93vh;
  right:140px;
  background-image:url("../image/instagram.png");
  background-size:contain;
  z-index: 11;

  cursor:pointer;
}

.instagram_text{
  width:30px;
  height:30px;
  position:absolute;
  top:94vh;
  right:105px;
  z-index: 11;
}

.mynameisjunsung{
  font-family:sans-serif;
  font-size:7pt;
  position:absolute;
  top:97vh;
  right:10px;
  z-index: 11;
}
