html {
    scroll-behavior: smooth;
    font-family: "pfstar", sans-serif;
}

body{
  -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   margin:0;

}
.no_mobile{
  display:none;
  width:100%;
  height:100vh;
  background-color:gray;
  margin:0;

  text-align:center;
  font-size:6vw;

  justify-content: center;
  align-items: center;
}

.loading{
  position:fixed;
  z-index:10;
  width:100%;
  height:100%;
  background-color:#363636;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-size:50px;
}


.main_background{
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  position:absolute;
  margin:0;
  width:100%;
  background-image: url("../image/sitebackground.png");
  background-size:cover;
  background-position:top;

  -webkit-animation:background_dif 0.5s ease-out;
  animation:background_dif 0.5s ease-out;
  -webkit-animation-duration:1.5s;
          animation-duration:1.5s;
}

@-webkit-keyframes background_dif{
  0%{
    opacity:0.7;
    background-size:105%;
  }
  100%{
    opacity:1;
    background-size:100%;
  }
}

@keyframes background_dif{
  0%{
    opacity:0.7;
    background-size:105%;
  }
  100%{
    opacity:1;
    background-size:100%;
  }
}


#Maintext{
  width:100%;
  position:relative;
  display:block;
  margin: 50px 0 0 0;
  font-family: "pfstar-bold", cursive;
  font-size:60pt;
  text-align: center;
}

#Suptext{
  width:30%;
  position:relative;
  display:block;
  margin: 10px 0 0 50%;
  font-family:"pfstar",cursive;
  font-size:30pt;
  text-align:center;
}

.mapbackdiv{
  width:821px;
  height:380px;
  background-image:url("../image/Mainmap.png");
  background-size:cover;

  position:absolute;
  margin: 300px 0 0 0;
  /* margin: 50px auto; */

  background-color:transparent;
}

.mapbackcards{
  position:absolute;
  width:821px;
  height:380px;
  background-size:cover;
  background-color:transparent;
  margin: 300px 0 0 0;
  opacity:0;
}

#goobongwan{
  background-image:url("../image/goobongwan.png");
}

#sinbongwan{
  background-image:url("../image/sinbongwan.png");
}

#nochun{
  background-image:url("../image/nochun.png");
}

#gunchook{
  background-image:url("../image/guchook.png");
}



.hovercards{
  display:block;
  position:absolute;
  z-index:2;
  cursor:pointer;
}

#goobongwan_hover{
  width:260px;
  height:100px;
  top:300px;
  margin-right:210px;
}

#sinbongwan_hover{
  width:210px;
  height:100px;
  top:490px;
  margin-right:545px;
}

#nochun_hover{
  width:170px;
  height:130px;
  top:290px;
  margin-left:370px;
}

#gunchook_hover{
  width:180px;
  height:170px;
  top:460px;
  margin-left:540px;
}

#sajasang_hover{
  width:220px;
  height:120px;
  top:470px;
  margin-left:20px;
}




.hoverbox_in{
  display:block;
  opacity:0;
  position:absolute;
  width:460px;
  height:280px;
  transition:0.2s;
}


#sinbongwan_in{
  left:50px;
  top:530px;
  background-image:url("../image/sinbongwan_in.png");
}

#goobongwan_in{
  left:80px;
  top:330px;
  background-image:url("../image/goobongwan_in.png");
}

#gunchook_in{
  right:70px;
  top:510px;
  background-image:url("../image/gunchook_in.png");
}

#sajasang_in{
  right:90px;
  top:380px;
  background-image:url("../image/sajasang_in.png");
}

#nochun_in{
  right:80px;
  top:300px;
  background-image:url("../image/nochun_in.png");
}

#goobongwan_hover:hover ~ #goobongwan{
  opacity:1;
  transition:0.2s;
}

#goobongwan_hover:hover ~ #goobongwan_in{
  opacity:1;
  transition:0.2s;
}

#sinbongwan_hover:hover ~ #sinbongwan{
  opacity:1;
  transition:0.2s;
}

#sinbongwan_hover:hover ~ #sinbongwan_in{
  opacity:1;
  transition:0.2s;
}

#nochun_hover:hover ~ #nochun{
  opacity:1;
  transition:0.2s;
}

#nochun_hover:hover ~ #nochun_in{
  opacity:1;
  transition:0.2s;
}

#gunchook_hover:hover ~ #gunchook{
  opacity:1;
  transition:0.2s;
}

#gunchook_hover:hover ~ #gunchook_in{
  opacity:1;
  transition:0.2s;
}

#sajasang_hover:hover ~ #sajasang{
  opacity:1;
  transition:0.2s;
}

#sajasang_hover:hover ~ #sajasang_in{
  opacity:1;
  transition:0.2s;
}


.startbutton{
  width:280px;
  height:80px;
  margin:0 auto;
  margin-top:500px;
  border-radius:300px;

  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;

  background-color:white;
  border-width: 5px;
  border-color:black;
  border:solid;
  cursor:pointer;
}

.startbutton:hover{
  background-color:black;
  color:white;
  border-color:black;
  transition:0.2s;
}

.startbutton p {
  text-align: center;
  font-size:40pt;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


@media screen and (max-width: 1068px) {
  .main_background{
    display:none;
  }
  .no_mobile{
    display:flex;
  }
}
