.no_mobile{
  display:none;
  width:100%;
  height:300px;
  margin:0;
  text-align:center;
  font-size:4vw;
  justify-content: center;
  align-items: center;

  top:10vh;
  /* background-color:white; */
}

.startbutton_mobile{
  width:320px;
  height:90px;
  margin:0 auto;
  border-radius:300px;
  padding: 10px 0 0 0;

  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;

  background-color:white;
  border-width: 5px;
  border-color:black;
  border:solid;
  cursor:pointer;
}

.startbutton_mobile:active{
  background-color:black;
  color:white;
  border-color:black;
  transition: 0.2s;
}

.startbutton_mobile p {
  text-align: center;
  font-size:35pt;
  font-family:"Black Han Sans",sans-serif;
  font-weight:300;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}




.mobile_background_container{
  width:100%;
  height:2500px;
  display:none;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  position:absolute;
  top:500px;
}

.mobilecards{
  width:90%;
  height:450px;
  /* border:1px solid black; */
  background-size:contain;
  background-position:0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  filter: drop-shadow(4px 3px 3px rgba(0,0,0,0.3));
  background-color:transparent;
}

.mobilecards-text-container{
  /* border:1px solid gray; */
  width:77%;
  height:450px;
  text-align: center;
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  margin-right:40px;
  color:white;
  font-size:60pt;
  font-family:'Black Han Sans',sans-serif;
  background-color:transparent;
}
.mobilecards_sidebox{
  width:23%;
  height:450px;
  background-color:white;
}
.sidebox_text{
  writing-mode:vertical-rl;
  text-align: center;
  margin:15px 0 0 10px;
  font-size:13pt;
  font-family:'Source Sans Pro';
  font-weight: 600;
  letter-spacing: 5px;
  color:rgba(0,0,0,0.5);
  height:120px;
}
.circle{
  width:60px;
  height:60px;
  border-radius: 100px;
  margin:230px 0 0 120px;

}
.mobilecards_active{
  width:78%;
  height:450px;
  background-color:gray;
  position:absolute;
  display:none;
  z-index: 6;
}

#Cartrider_mobile{
  background-image:url("../image/cartrider-mobile.png");
}

#Lol_mobile{
  background-image:url("../image/lol-mobile.png");
}

#Sidebox_text{
  letter-spacing: 0px;
  font-size:10pt;
}

#Crazyarcade_mobile{
  background-image:url("../image/crazyarcade-mobile.png");
}

#Battleground_mobile{
  background-image:url("../image/battleground-mobile.png");
}

#Escape_mobile{
  background-image:url("../image/escape-mobile.png");
}

.mobilecards:active .mobilecards_active{
  display:flex;
}


/* ----------------------------------------- */
@media screen and (max-width: 1068px) {
  .main_background{
    display:none !important;
  }
  .no_mobile{
    display:flex;
    font-family: 'Gothic A1', sans-serif;
  }
  html{
    background-image: url("../image/sitebackground-mobile.png");
    background-size:100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-color:#B8F1F9;
  }
  body{
    font-family:"Gothic A1", sans-serif;
  }
  .sidebutton{
    display:none;
  }
  .mobile_background_container{
    display:flex;
  }

  .character{
    position:absolute;
    top:420px;
    left:1.2vw;
  }

  .instagram{
    width:22px;
    height:22px;
    top:3000px;
  }
  .instagram_text{
    top:3000px;
  }
  .mynameisjunsung{
    top:3030px;
  }
}
